/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/*TASK: search for desired fonts*/

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* General styles */

body {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #48688d;
    font-family: 'Merriweather', sans-serif;
    /*TASK: Change fonts*/
}

h1,
h2,
h3 {
    font-family: 'Merriweather', sans-serif;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: large;
}

p {
    font-size: medium;
}

.hidden {
    display: none;
}

/* Header */
header {
    background-color: #cfcccc;
    padding: .5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100px;
    box-shadow: 0 2px 2px #a0b1c1;
    display: flex;
    justify-content: space-between;
}

/*TASK: Review colors and adapt to suit clients color palate*/

#logo {
    display: flex;
    order: -1;
    width: 75px;
    height: 75px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 0px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    display: inline-block;
    width: 100%;
}

#menu>li {
    margin-bottom: 1em;
    text-align: center;
}

.active {
    border-bottom: 1px solid #48688d;
}

.fa-solid {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #cfcccc;
    width: 100%;
    left: 0px;
    padding: 0 1rem;
    box-shadow: 0 2px 2px#48688d;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    width: 100%;
    /* Enable flex properties for child elements */
    margin-top: 100px;
}

#background-index{
    display: flex;
    flex-direction: column;
    background: fixed;
    background-image: url("../images/Crane-lift-supervised-altered-3.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    background-size: 100vh;
}

/* Hero section */
#hero {
    height: 450px;
    width: 100%;
    position: rel
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: #cfcccc;
    opacity: 0.8;
    position: absolute;
    bottom: 50px;
    width: 100%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text h1 {
    font-size: 200%;
}


.services {
    width: 100%;
    text-align: start;
    color: #cfcccc;
    padding: 20px 10px 20px 10px;
    background-color: #48688d;
    opacity: .9;
}

#services-multi {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, auto);
    /*stackoverflow https://stackoverflow.com/questions/8184958/add-space-between-html-elements-only-using-css*/
    grid-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px 70px 25px 70px;
    justify-content: center;
}

.flip-card {
    background-color: transparent;
    width: 190px;
    height: 190px;
    perspective: 1000px;
    border-radius: 25%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 25%;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 25%;
    border: 2px solid;
}

.flip-card-front {
    padding-top: 50px;
    background-color: #cfcccc;
    color: #48688d;
    border-color: #48688d;
    box-shadow: 5px 5px #48688d;
    opacity: .85;
}

.flip-card-back {
    padding: 25px;
    background-color: #48688d;
    color: #cfcccc;
    transform: rotateY(180deg);
    border-color: #cfcccc;
    box-shadow: 5px 5px #cfcccc;
}

.flip-card1 {
    background-color: transparent;
    width: 190px;
    height: 190px;
    perspective: 1000px;
    border-radius: 25%;
}

.flip-card-inner1 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 25%;
}

.flip-card1:hover .flip-card-inner1 {
    transform: rotateY(180deg);
}

.flip-card-front1,
.flip-card-back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 25%;
    border: 2px solid;
}

.flip-card-front1 {
    padding-top: 50px;
    background-color: #48688d;
    color: #cfcccc;
    border-color: #cfcccc;
    box-shadow: 5px 5px #cfcccc;
    opacity: .85;
}

.flip-card-back1 {
    padding: 25px;
    background-color: #cfcccc;
    color: #48688d;
    transform: rotateY(180deg);
    border-color: #48688d;
    box-shadow: 5px 5px #48688d;
}



/*media query: large or landscape phones (576px and up)*/
@media screen and (min-width: 576px) {


    #menu {
        font-size: 150%;
    }

    #background-index {
        background-size: 130vw 130vh;
        bottom: 50px;
    }

    #cover-text h1 {
        font-size: 250%;
    }
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    #cover-text h1 {
        font-size: 300%;
    }

    #background-index {
        background-size: 100vw 100vh ;
    }

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    #background-index {
        background-size: 100vw;
        min-height: 900px;
    }

    #cover-text h1 {
        font-size: 350%;
    }

    #services-multi {
        padding-top: 50px;
    }


}

@media screen and (min-width: 1200px) {


    #background-index {
        background-size: 100vw;
    }

    #cover-text h1 {
        font-size: 400%;
    }
}