/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');
/*TASK: search for desired fonts*/

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* General styles */

body {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #48688d;
    font-family: 'Rokkitt', sans-serif;
    /*TASK: Change fonts*/
}

h1,
h2,
h3 {
    font-family: 'Rokkitt', sans-serif;
    letter-spacing: 2px;
    font-weight: bolder;
}

.hidden {
    display: none;
}

/* Header */
header {
    background-color: #cfcccc;
    padding: .5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100px;
    box-shadow: 0 2px 2px #a0b1c1;
    display: flex;
    justify-content: space-between;
}

/*TASK: Review colors and adapt to suit clients color palate*/

#logo {
    display: flex;
    order: -1;
    width: 75px;
    height: 75px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 0px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    display: inline-block;
    width: 100%;
}

#menu>li {
    margin-bottom: 1em;
    text-align: center;
}

.active {
    border-bottom: 1px solid #48688d;
}

.fa-solid {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
}

/* Navbar styles with dropdown toggle */
nav {
    /*TASK: move burger icon up to mimic the logo - currently looks off centered*/
    position: absolute;
    background-color: #cfcccc;
    width: 100%;
    left: 0px;
    padding: 0 1rem;
    box-shadow: 0 2px 2px#48688d;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
    background: scroll;
    background-image: url("../images/IMG_4273.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

/* Hero section */
#hero {
    height: 500px;
    width: 100%;
    /*background: url("../images/IMG_7131.jpg") no-repeat center center/cover;*/
    position: relative;
    
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: #a0b1c1;
    opacity: 0.8;
    font-size: 150%;
    position: absolute;
    bottom: 15px;
    width: 80%;
    min-height: 170px;
    padding-top: 40px;
    padding-left: 10px;
}


#services {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, auto);
    /*stackoverflow https://stackoverflow.com/questions/8184958/add-space-between-html-elements-only-using-css*/
    grid-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px 90px 25px 90px;
}

#services div {
    text-align: center;
    font-size: larger;
    box-sizing: content-box;
    height: 180px;
    width: 180px;
    padding: 30px;
    border-radius: 25%;
}


#design {
    order: 1;
    background-color: #cfcccc;
    border: 2px solid #48688d;
    box-shadow: 5px 5px #48688d;
}

#install {
    order: 2;
    background-color: #48688d;
    border: 2px solid #cfcccc;
    color: #cfcccc;
    box-shadow: 5px 5px #cfcccc;
}


#plumbing {
    order: 3;
    background-color: #cfcccc;
    border: 2px solid #48688d;
    box-shadow: 5px 5px #48688d;
}

#consult {
    order: 4;
    background-color: #48688d;
    border: 2px solid #cfcccc;
    color: #cfcccc;
    box-shadow: 5px 5px #cfcccc;
}

footer {
    background-color: #48688d;
}

#address {
    color: #cfcccc;
    width: 35%;
    padding-left: 15px;
}

/*media query: large or landscape phones (576px and up)*/
@media screen and (min-width: 576px) {

    /*Header*/
    #company {
        font-size: 450%;
    }

    #menu {
        font-size: 150%;
    }
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /*Header*/
    #company {
        font-size: 500%;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    /*Header*/
    #company {
        font-size: 600%;
    }
}

@media screen and (min-width: 1200px) {

    /*Header*/
    #company {
        font-size: 650%;
    }
}