/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');
/*TASK: search for desired fonts*/

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #48688d;
    font-family: 'Rokkitt', sans-serif;
    /*TASK: Change fonts*/
}

h1,
h2,
h3 {
    font-family: 'Rokkitt', sans-serif;
    letter-spacing: 2px;
    font-weight: bolder;
}

.hidden {
    display: none;
}

/* Header */
header {
    background-color: #cfcccc;
    padding: .5rem .5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #a0b1c1;
    display: flex;
    justify-content: space-between;
}

/*TASK: Review colors and adapt to suit clients color palate*/

#company {
    font-size: 165%;
    text-align: center;
}

#logo {
    display: flex;
    order: -1;
    width: 50px;
    height: 50px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 0px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    display: inline-block;
    width: 100%;
}

#menu>li {
    margin-bottom: 1em;
    text-align: center;
}

.active {
    border-bottom: 1px solid #48688d;
}

.fa-solid {
    width: 75%;
    height: 75%;
    padding-bottom: 5px;
    padding-top: 0px;
}

/* Navbar styles with dropdown toggle */
nav {
    /*TASK: move burger icon up to mimic the logo - currently looks off centered*/
    position: absolute;
    background-color: #cfcccc;
    width: 100%;
    left: 0px;
    padding: 0 1rem;
    box-shadow: 0 2px 2px#48688d;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*media query: large or landscape phones (576px and up)*/
@media screen and (min-width: 576px) {

    /*Header*/
    #company {
        font-size: 225%;
    }

    #menu {
        font-size: 150%;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /*Header*/
    #company {
        font-size: 300%;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    /*Header*/
    #company {
        font-size: 350%;
    }
}

@media screen and (min-width: 1200px) {

    /*Header*/
    #company {
        font-size: 400%;
    }
}